@charset "UTF-8";

@import "modules/all";
@import "partials/base";
@import "partials/admin.all";

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.gmember-dashboard {

	&.-table-signup {

		// width: 100%;

		.-registered-date {
			cursor: pointer;
		}

		.-edit-link {}
		.-mail-link {}
	}

	&.-list-signup {

		margin-left: .5em;
		margin-bottom: 0;

		li {

		}
	}
}
