@charset "UTF-8";
@import "modules/all";
@import "partials/base";
@import "partials/admin.all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.gmember-dashboard {
  // &.-table-summary, // not used
  &.-table-logins,
  &.-table-signup {
    .-month-day,
    .-time-ago,
    .-time-full {
      cursor: pointer;
    }

    .-edit-link {}
    .-mail-link {}

    .-month-day {
      width: 15px;
    }

    .-time-ago {
      width: 65px;
    }
  }

  &.-table-summary {
    margin-top:0.5em;
    width: 100%;
    td {
      width: 50%;
      padding: 0 0 2px;
    }
  }

  // &.-list-logins, // not used
  &.-list-signup {
    margin-left: 0.5em;
    margin-bottom: 0;

    li {}
  }
}
